body {
    background-color: #353A47;
    color: #F4F4F9;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 0 1 auto;
}

#header {
    background-color: #151514;
    color: #FF5E5B;
    font-size: 40px;
    padding: 50px;    
}

#storyInfo {
    padding: 40px;
}

.text-center {
    text-align: center;
}

#choiceButtons {
    justify-content: center;
    gap: 20px;
}

.choice-button {
    font-size: 75px;
    height: 150px;
    width: 150px;
    background-color: #22272F;
    border-radius: 10px;
}

.choice-button:hover {
    background-color: #111418;
    transition: 0.2s;
}

#roundMsg {
    margin: 20px;
    display: block;
    font-size: xx-large;
}

.round-results {
    margin-top: 20px;
    justify-content: center;
    gap:50px;
}

#cIcon,
#pIcon {
    font-size: 50px;
    margin: 20px
}

.inline {
    display: inline;
}

.modal {
    --gap: 15px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--gap);
    background: rgb(0, 0, 0, 0.5);
}

.modal__inner {
    background: #ffffff;
    width: 100%;
    max-width: 500px;
    color: black;

    border-radius: 4px;
}

.modal__top {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
}

.modal__title {
    flex-grow: 1;
    padding: 0 var(--gap);
    font-size: 20px;
}

.modal__close {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding:var(--gap);
    background: none;
    border: none;
    outline: none;
}

.modal__content {
    padding: var(--gap);
    line-height: 1.5;
}

.modal__bottom {
    text-align: right;
    padding: 0 var(--gap) var(--gap) var(--gap);
}

.modal__button {
    display: inline-block;
    padding: 6px 12px;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.modal__button:hover {
    background: #008066;
}

.inactive {
    display: none;
}